<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-11-22T23:27:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/divyaramanathan/Desktop/11/divya_ramanathan_ramanad_C4CS/divya_ramanathan_ramanad_C4CS.xcodeproj</string>
</dict>
</plist>
